torch==1.12.1+cu113
torchaudio==0.12.1+cu113
einops
scipy
ipywidgets==7.7.1
gradio
k-diffusion
git+https://github.com/crowsonkb/v-diffusion-pytorch
git+https://github.com/harmonai-org/sample-generator
